body {
    background-color: lightcyan;
}

p {
    font-family:Verdana;
    font-size: 20px;
    text-align: center;
}

h1{
    text-align: center;
}

.buttoncontainer{
    text-align: center;
}

button{
    font-size: 20px;
}


.HolidayBudget {
    text-align: center;
}

label {
    font-size: 20px;

}
