
/* The background of the application */
body {
    background-color: lightcyan;
}

/* The paragraphs all had consistent font family and size. */
p {
    font-family:Verdana;
    font-size: 20px;
    text-align: center;
}

h1{
    text-align: center;
}

/* Moved the button to the middle of the page */
.buttoncontainer{
    text-align: center;
}

.prebudgetcontainer{
    text-align: center;
    padding-top: 10px;
}

/* Changed the size of the font for the button*/
button{
    font-size: 20px;
}


.HolidayBudget {
    text-align: center;
}

label {
    font-size: 20px;
    font-family:Verdana;

}

/* Centered the table to ensure it was in line with the rest of the content */
.budgettable {
    
    margin-left: auto;
    margin-right: auto;
}